<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>PHPday 2015 - Introduccion a Symfony</title>

		<meta name="description" content="Charla introductoria a Symfony2 para PHPday Uruguay 2015">
		<meta name="author" content="Fabian Vallejos">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h4>Introduccion a</h4>
					<h1>Symfony</h1>
					<p>
						<small>Por <a href="http://fabianvallejos.com">Fabian Vallejos</a> / <a href="http://twitter.com/vallejosfab">@vallejosfab</a></small>
					</p>
                    <img data-src="/pics/php-day-uy.png" alt="PHPday UY 2015" />
				</section>

				<section>
                    <h3>Bienvenidos!</h3>
					<p>
                        Hablemos de
					</p>
                    <img data-src="/pics/symfony-logo.png" alt="Symfony" />
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Sobre mi...</h2>
                        <br>
                        <a href="#" class="navigate-down">
                            <img data-src="http://www.gravatar.com/avatar/40a8afa035a03cf21693254f186306f8?s=220" width="220" height="220" alt="Avatar">
                        </a>
                    </section>
                    <section>
                        <h3>Fabian Vallejos</h3>
                        <p class="fragment">Programador Web desde mas o menos comienzos de siglo :)</p>
                        <p class="fragment">Front End / Back End / Mobile</p>
                        <p class="fragment">Experiencia en PHP, MySQL, JavaScript</p>
                        <p class="fragment">Angular JS, Symfony 2</p>
                        <p class="fragment">Sysadmin / Devops</p>
                        <p class="fragment">Perl, Bash Scripting, Java, C++</p>
                        <p class="fragment">... y otros ya pasados de moda...</p>
                        <p class="fragment">(Ej: Tcl/Tk, StarBasic, etc)</p>
					</section>
                    <section>
                        <p>Contacto</p>
                        <p class="fragment">Twitter: <a href="http://twitter.com/vallejosfab">@vallejosfab</a></p>
                        <p class="fragment">Blog: <a href="http://fabianvallejos.com">http://fabianvallejos.com</a></p>
                    </section>
				</section>

                <section>
                    <section>
                        <h2>Agenda</h2>
                        <p class="fragment">1. Que es Symfony?</p>
                        <p class="fragment">2. Instalacion / Configuracion</p>
                        <p class="fragment">3. Routing</p>
                        <p class="fragment">4. Controllers</p>
                        <p class="fragment">5. Templates</p>
                    </section>
                    <section>
                        <p>Ejemplo Symfony 2.7</p>
                        <p>Recomendaciones, Tips, Mejores Practicas</p>
                    </section>
                    <section>
                        <h2>Symfony es mucho mas...</h2>
                        <p class="fragment">Bundles, Forms</p>
                        <p class="fragment">Databases, Doctrine, ORM</p>
                        <p class="fragment">Seguridad, Traduccion, Internalizacion</p>
                        <p class="fragment">Dependency Injection</p>
                        <p class="fragment">Assetic, Cache, Testing, Deployment</p>
                        <p class="fragment">Documentacion, Comunidad</p>
                        <p class="fragment">... Mucho Mas!</p>
                    </section>
                    <section>
                        <p>No hay tiempo para todo</p>
                        <img data-src="/pics/sad-panda.jpeg" alt="Sad Panda" />
                    </section>
				</section>

                <section>
                    <section>
                        <h3>1. Que es Symfony?</h3>
                        <p class="fragment">Framework MVC PHP</p>
                        <p class="fragment">desarrollado por<br/>
                            <img data-src="/pics/sensiolabs-logo.jpg" alt="SensioLabs" />
                        </p>
                        <p class="fragment">(de los mas usados)</p>
                        <p class="fragment">Top PHP projects en GitHub!</p>
                        <p class="fragment">Gran comunidad!</p>
                    </section>
                    <section>
                        <h3>1. Que es Symfony? (cont...)</h3>
                        <p class="fragment">
                            Libreria de Componentes
                            <br/>
                            <img data-src="/pics/confused-panda.jpg" alt="Confused Panda" />
                        </p>
                        <p class="fragment">Traduccion:</p>
                        <p class="fragment">Se puede usar cualquier parte de Symfony en cualquier proyecto PHP</p>
                    </section>
                    <section>
                        <h3>Algunos componentes:</h3>
                        <p class="fragment">Asset</p>
                        <p class="fragment">Console</p>
                        <p class="fragment">Finder</p>
                        <p class="fragment">Routing</p>
                        <br/>
                        <p class="fragment">Ver mas: <a href="http://symfony.com/components">http://symfony.com/components</a></p>
                        <aside class="notes">
                            Asset: js, css, images
                            Routing: mapeo de rutas a variables
                            Finder: busca files y folders
                        </aside>
                    </section>
                    <section>
                        <h3>Proyectos que usan componentes de Symfony:</h3>
                        <p class="fragment">Drupal</p>
                        <p class="fragment">Laravel</p>
                        <p class="fragment">Magento</p>
                        <p class="fragment">phpBB</p>
                        <p class="fragment">Joomla</p>
                        <p class="fragment">Silex</p>
                        <p class="fragment">Ver mas: <a href="http://symfony.com/projects">http://symfony.com/projects</a></p>
                    </section>
                    <section>
                        <h3>Como se logra esto?</h3>
                        <p class="fragment">1. Se usa composer</p>
                        <p class="fragment">(Manejador de paquetes de PHP)</p>
                        <p class="fragment">2. Se siguen estandares PSR</p>
                        <p class="fragment">(code style, interfaces, class naming, etc)</p>
                        <p class="fragment">Ver mas: <a href="http://www.php-fig.org/">http://www.php-fig.org/</a></p>
                    </section>
                    <section>
                        <h3>Por que usar Symfony?</h3>
                        <p class="fragment">1. Gran comunidad (no estas solo)</p>
                        <p class="fragment">(muchos problemas ya estan resueltos)</p>
                        <p class="fragment">2. Seguir standards + Aprender buenas practicas</p>
                        <p class="fragment">=</p>
                        <p class="fragment">Probablemente seas un mejor programador ;)</p>
                        <p class="fragment">y</p>
                        <p class="fragment">Mejores aplicaciones, mas seguras, mejor testeadas, etc.</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>2. Instalacion / Configuracion</h3>
                    </section>
                    <section>
                        <h4>Requisitos</h4>
                        <p class="fragment">PHP >= 5.3.9</p>
                        <p class="fragment">Habilitar JSON y ctype</p>
                        <p class="fragment">Setear <b>date.timezone</b> en el <b>php.ini</b></p>
                    </section>

                    <section>
                        <h4>Opcionalmente</h4>
                        <p class="fragment">PHP-XML, libxml, mbstring, Intl, y otros mas...</p>
                        <p class="fragment">Mas info: <a href="http://symfony.com/doc/current/reference/requirements.html">http://symfony.com/doc/current/reference/requirements.html</a></p>
                    </section>

                    <section>
                        <h4>* Tip *</h4>
                        <p>Seteos recomendados en <b>php.ini</b></p>
                        <p data-markdown>
                            ```
                            short_open_tag = Off
                            magic_quotes_gpc = Off
                            register_globals = Off
                            session.auto_start = Off
                            ```
                        </p>
                    </section>

                    <section>
                        <h4>Para usar Doctrine ORM</h4>
                        <p class="fragment">Instalar PDO y el driver PDO que vayan a usar</p>
                        <p class="fragment">(ej: pdo-mysql para usar MySQL)</p>
                        <p class="fragment">* Tip* : No usar mysql_connect()</p>
                    </section>

                    <section>
                        <h4>Tip</h4>
                        <p>Se puede verificar si tu sistema "soporta" Symfony:</p>
                        <p>
                            Cargar en el navegador <a href="web/config.php">web/config.php</a>
                            <br/>
                            <br/>o ejecutando desde la terminal:
                            <p data-markdown>
                                ```
                                $ php app/check.php
                                ```
                            </p>
                        </p>
                    </section>

                    <section>
                        <h4>Descarga</h4>
                        <p>Ir a: <a href="http://symfony.com/download">http://symfony.com/download</a>
                        <img height="500" data-src="/pics/install-2.png" alt="Install" />
                    </section>

                    <section data-markdown>
                        <h2>Instalar Symfony</h2>

                        <h4>Linux / Mac OS</h4>
                        ```
                        $ sudo curl -LsS http://symfony.com/installer \
                          -o /usr/local/bin/symfony
                        $ sudo chmod a+x /usr/local/bin/symfony
                        ```

                        <h4>Windows</h4>
                        ```
                        c:\> php -r "readfile('http://symfony.com/installer');" > symfony
                        ```
                    </section>

                    <section data-markdown>
                        <p>Crear un proyecto:</p>

                        ```
                        $ symfony new mi_proyecto
                        ```
                        <br/>
                        <p>Usar una version especifica:</p>
                        ```
                        $ symfony new otro-proyecto 2.7
                        ```
                    </section>

                    <section data-markdown>
                        <h2>Usar un componente:</h2>

                        ```
                        $ composer require symfony/Intl
                        ```
                    </section>

                    <section data-markdown>
                        <h2>Instalar Composer</h2>

                        <h4>Linux / Mac OS</h4>
                        ```
                        $ curl -sS https://getcomposer.org/installer | php
                        $ sudo mv composer.phar /usr/local/bin/composer
                        ```

                        ```
                        $ php installer
                        $ sudo mv composer.phar /usr/local/bin/composer
                        ```
                        <br/>
                        <h4>Windows: </h4>
                        <p><a href="https://getcomposer.org/download">https://getcomposer.org/download</a>
                    </section>

                    <section>
                        <p>Veamos nuestro primer proyecto...</p>
                        <p class="fragment" data-markdown="">
                            ```
                            $ php app/console server:run
                            ```
                            o lo que es lo mismo:
                            ```
                            $ cd web
                            $ php -S localhost:8000
                            ```
                        </p>
                        <p class="fragment">(requiere PHP >= 5.4)</p>
                        <p class="fragment">Ir a: <a href="http://localhost:8000/app_dev.php">http://localhost:8000/app_dev.php</a>
                    </section>

                </section>

                <section>
                    <section>
                        <h3>Ejemplo:</h3>
                        <p class="fragment">Nuestra primera pagina en PHP Symfony!</p>
                    </section>
                    <section>
                        <p>Basicamente necesitamos 2 cosas:</p>
                        <p class="fragment">1. Crear una Ruta</p>
                        <p class="fragment">2. Crear un Controlador</p>
                        <p class="fragment">(ya vamos a hablar de esto en breve)</p>
                    </section>
                    <section>
                        <p>Archivos y carpetas de ejemplo</p>
                        <img data-src="/pics/project-folders.png" alt="Project Folders" />
                    </section>
                    <section>
                        <p>Archivos y carpetas de ejemplo</p>
                        <table>
                            <tr>
                                <td>
                                    <img width="500" data-src="/pics/project-folders.png" alt="Project Folders" />
                                </td>
                                <td style="vertical-align: top;">
                                    <p class="fragment">/app: configuracion, y otras cosas para que funcione la app (controla todo)</p>
                                    <p class="fragment">/bin: binarios de composer (ignorar por ahora)</p>
                                    <p class="fragment">/src: el codigo fuente de nuestra magia (bundles)</p>
                                    <p class="fragment">/vendor: librerias de terceros</p>
                                    <p class="fragment">/web: el document_root de nuestra aplicacion, css, pics, etc</p>
                                </td>
                            </tr>
                        </table>
                    </section>
                    <section>
                        <p>Bundle?</p>
                        <p class="fragment">Modulo</p>
                        <p class="fragment">Feature</p>
                        <p class="fragment">Plugin</p>
                        <p class="fragment">Una "parte" de la app</p>
                        <p class="fragment">Carpeta dentro de src/</p>
                        <p class="fragment">Ej: src/Login</p>
                    </section>
                    <section>
                        <p>Archivos importantes en /app</p>
                        <p class="fragment">/app/AppKernel.php</p>
                        <p class="fragment">- activar nuestros bundles</p>
                        <p class="fragment">/app/config/config.yml</p>
                        <p class="fragment">- configurar la aplicacion, bundles y librerias</p>
                        <p class="fragment">/app/config/routing.yml</p>
                        <p class="fragment">- setear las rutas</p>
                        <p class="fragment">(ignorar los demas archivos en app/config por ahora)</p>
                        <p class="fragment">/app/Resources/views/</p>
                        <p class="fragment">- console scripts y base.html.twig</p>
                    </section>
                    <section>
                        <h2>Primeros pasos</h2>
                        <p class="fragment">Borremos el bundle de ejemplo</p>
                        <p class="fragment">1. borrar la carpeta del bundle</p>
                        <p class="fragment">2. quitar la referencia de AppKernel.php</p>
                        <p class="fragment">3. quitar la ruta de routing.yml</p>
                    </section>
                    <section>
                        <h2>Primeros pasos</h2>
                        <p class="fragment">Creemos un nuevo bundle</p>
                        <p class="fragment">se puede hacer manualmente</p>
                        <p class="fragment">pero es mejor usar console</p>
                        <p class="fragment">app/console generate:bundle</p>
                    </section>
                    <section>
                        <h2>generate:bundle</h2>
                        <p class="fragment">NameSpace: PHPday/DemoBundle</p>
                        <p class="fragment">Name: DemoBundle</p>
                        <p class="fragment">Target Directory: (default)</p>
                        <p class="fragment">Configuration format: yml</p>
                        <p class="fragment">El resto de las opciones: (default)</p>
                        <p class="fragment">(enter, enter, enter, enter)</p>
                    </section>
                    <section>
                        <h2>Que paso exactamente?</h2>
                        <p class="fragment">1. Se genero un Bundle :) (ver src/)</p>
                        <p class="fragment">2. Se activo (ver AppKernel.php)</p>
                        <p class="fragment">3. Se genero una ruta en app/config/routing.yml</p>
                        <p class="fragment">(ya vamos a llegar a esto)</p>
                        <p class="fragment">... pero antes...</p>
                    </section>
                    <section>
                        <h2>* TIP *</h2>
                        <p>Usar Git - colaboracion!</p>
                        <p>(o cualquier otro software de control de versiones)</p>
                        <p class="fragment">Borremos .git</p>
                        <p class="fragment">1. borrar la carpeta .git (rm -rf .git/)</p>
                        <p class="fragment">2. inicializar git (git init)</p>
                        <p class="fragment">2. agregar todos los archivos (git add .)</p>
                        <p class="fragment">2. commit (git commit)</p>
                        <p class="fragment">2. push (git push -u)</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>3. Routing</h3>
                        <p class="fragment">Toda pagina web necesita una URL</p>
                        <p class="fragment">Crear una Ruta para cada Pagina</p>
                        <p class="fragment">Esto se hace en el archivo app/config/routing.yml</p>
                    </section>
                    <section>
                        <h3>Sigamos con nuestro ejemplo</h3>
                        <p class="fragment">En el ejemplo: app_dev.php/hello/PHPday</p>
                        <p class="fragment">En el ejemplo: app_dev.php/hello/Montevideo</p>
                        <p class="fragment">Esto funciona porque hay una ruta configurada</p>
                    </section>
                    <section data-markdown>
                        <p>app/config/routing.yml</p>
```
demo:
    resource: "@DemoBundle/Resources/config/routing.yml"
    prefix:   /
```
                        <p>Donde esta la ruta /hello/PHPday ?</p>
                    </section>
                    <section>
                        <p>resource: "@DemoBundle/Resources/config/routing.yml"</p>
                        <p>resource = include</p>
                        <p class="fragment">@ = busca en la carpeta src/</p>
                        <p class="fragment">(donde estan todos nuestros bundles)</p>
                    </section>
                    <section data-markdown>
                        <p> vemos el archivo src/DemoBundle/Resources/config/routing.yml</p>
```
demo_homepage:
    path:     /hello/{name}
    defaults: { _controller: DemoBundle:Default:index }
```
                    </section>
                    <section>
                        <p>path:     /hello/{name}</p>
                        <p>Va a matchear todo lo que sea /hello/*</p>
                        <p class="fragment">Es decir, /hello/CualquierCosa</p>
                        <p class="fragment">Probemos cambiar a: /hola/{name}</p>
                        <p class="fragment">Y en el browser vamos a: <a href="localhost:9000/app_dev.php/hola/PHPday">app_dev.php/hola/PHPday</a></p>
                    </section>
                    <section>
                        <h2>* TIP *</h2>
                        <p>path vs pattern</p>
                        <p class="fragment">pattern = versiones viejas de Symfony</p>
                        <p class="fragment">pattern les va a funcionar hasta Symfony 3.0</p>
                        <p class="fragment">Empezar a usar path</p>
                    </section>
                    <section data-markdown>
                        <p> volvamos a ver el archivo de configuracion de rutas</p>
                        <p>src/DemoBundle/Resources/config/routing.yml</p>
```
demo_homepage:
    path:     /hello/{name}
    defaults: { _controller: DemoBundle:Default:index }
```
                    </section>
                    <section>
                        <p>La 2da parte critica es el controller por defecto</p>
                        <p>defaults: { _controller: DemoBundle:Default:index }</p>
                        <p class="fragment">Le dice a Symfony que controller ejecutar cuando la ruta se matchea</p>
                        <p class="fragment">En "criollo", un controlador es una funcion PHP</p>
                        <p class="fragment">Una funcion que construye la pagina</p>
                        <p class="fragment">(lo veremos a continuacion)</p>
                    </section>
                    <section>
                        <p>defaults: { _controller: DemoBundle:Default:index }</p>
                        <p class="fragment">DemoBundle: el nombre del bundle</p>
                        <p class="fragment">Default: Nombre de Clase del Controller</p>
                        <p class="fragment">index: el nombre del Metodo</p>
                        <p class="fragment">(similitud con OOP?)</p>
                    </section>
                    <section>
                        <p>defaults: { _controller: DemoBundle:Default:index }</p>
                        <p class="fragment">Se refiere a:</p>
                        <p class="fragment">DemoBundle\Default\Controller::indexAction</p>
                    </section>
                    <section data-markdown>
                        <p>es decir, en el archivo</p>
```
src/PHPday/DemoBundle/Controller/DefaultController.php
```
                        <p>Hay un metodo indexAction:</p>
```
namespace PHPday\DemoBundle\Controller;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;

class DefaultController extends Controller {
    public function indexAction($name) {
        return $this->render('DemoBundle:Default:index.html.twig',
                array('name' => $name));
        }
}
```
                    </section>
                    <section data-markdown>
                        <p>La variable $name proviene del archivo de configuracion de Rutas</p>
                        <p>src/DemoBundle/Resources/config/routing.yml</p>
```
demo_homepage:
    path:     /hello/{name}
    defaults: { _controller: DemoBundle:Default:index }
```
                    </section>
                    <section data-markdown>
                        <p>en este caso: </p>
```
return $this->render('DemoBundle:Default:index.html.twig',
    array('name' => $name));
}
```
                        <p>retorna un template Twig renderizado</p>
                        <p>pasando como parametro el {name} del routing.yml</p>
                    </section>
                    <section data-markdown>
                        <p>Podemos tener multiples variables en la ruta</p>
```
    path:     /hello/{nombre}/{ciudad}
```
                        <p>Y accederlas en el metodo del controlador</p>
```
class DefaultController extends Controller {
    public function indexAction($ciudad, $nombre) {
        return $this->render('DemoBundle:Default:index.html.twig',
            array('name' => $nombre, 'city' => $ciudad));
    }
}
```
                    </section>
                    <section data-markdown>
                        <p>\* TIP *</p>
```
$ php app/console router:debug
```
                        <p>lista todas las rutas configuradas en la app</p>

                        <p>MUY importante a la hora de empezar a trabajar en una app que ya esta hecha y no conocen!</p>
                    </section>
                    <section>
                        <p>* TIP *</p>
                        <p class="fragment">router:debug esta deprecado en Symfony 2.7</p>
                        <p class="fragment">Se va a eliminar en Symfony 3</p>
                        <p class="fragment">Usar debug:router</p>
                    </section>
                </section>
                <section>
                    <section>
                        <h3>4. Controllers</h3>
                        <p class="fragment">Como se renderiza una pagina?</p>
                        <p class="fragment">Basicamente 3 pasos:</p>
                        <p class="fragment">1. Symfony busca la Ruta hasta que matchea un path</p>
                        <p class="fragment">2. Symfony busca el _controller en esa Ruta</p>
                        <p class="fragment">DemoBundle:Default:index - Se llama esa funcion</p>
                        <p class="fragment">3. Se construye la pagina en indexAction()</p>
                    </section>
                    <section>
                        <p>El Controlador es donde "programamos" cosas</p>
                        <p class="fragment">Ej: enviar emails, consultar una DB, procesar un formulario, etc</p>
                    </section>
                    <section>
                        <p>Es bien simple</p>
                        <p class="fragment">Retorna un Symfony Response Object</p>
                        <p class="fragment">Incluir el namespace Symfony\Component\HttpFoundation\Response</p>
                        <p class="fragment">return new Response('Hola PHPday!!');</p>
                    </section>
                    <section data-markdown>
```
namespace PHPday\DemoBundle\Controller;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use Symfony\Component\HttpFoundation\Response;

class DefaultController extends Controller {
    public function indexAction($name) {
        return new Response('Hola PHPday!!');
    }
}
```
                    </section>
                    <section>
                        <p>El Controlador:</p>
                        <p>1. Genera un contenido</p>
                        <p>2. Pone ese contenido en un Response</p>
                        <p>3. Retorna ese Response</p>
                    </section>
                    <section data-markdown>
                        <p>Ej: Retornar un JSON</p>
```
public function indexAction($name) {
    $datos = array(
        'nombre' => $name,
        'texto' => 'Hola PHPday!!'
    );
    $json = json_encode($datos);
    return new Response($datos);
}
```
                    </section>
                    <section>
                        <p>* TIP *</p>
                        <p class="fragment">Setear header Content-Type: application/json</p>
                        <p class="fragment">asi:</p>
                    </section>
                    <section data-markdown>
                        <p>Ej: Retornar un JSON (de verdad)</p>
```
public function indexAction($name) {
    $datos = array(
        'nombre' => $name,
        'texto' => 'Hola PHPday!!'
    );
    $json = json_encode($datos);
    $respuesta = new Response($datos);
    $respuesta->headers->set('Content-Type', 'application/json');

    return $respuesta;
}
```
                    </section>
                    <section>
                        <p>FELICITACIONES!</p>
                        <p class="fragment">Ya saben programar en Symfony!!</p>
                        <img class="fragment" data-src="/pics/happy-panda.png" alt="PHPday UY 2015" />
                    </section>
                </section>

                <section>
                    <section>
                        <h3>5. Template</h3>
                    </section>
                    <section data-markdown>
                        <p>Veamos el metodo indexAction del Controlador</p>
```
return $this->render('DemoBundle:Default:index.html.twig',
        array('name' => $name));
```

                        <p>DemoBundle: el nombre del bundle</p>

                        <p>Default: Carpeta dentro de Resources/views</p>

                        <p>index.html.twig = template Twig!</p>
                    </section>
                    <section data-markdown>
                        <p>Si abrimos ese archivo index.html.twig</p>
```
Hello {{ name }}!
```

                        <p>Este es nuestro template!</p>

                        <p>Escrito en Twig</p>
                    </section>
                    <section data-markdown>
                        <p>Twig es un lenguaje de templates de Symfony</p>
```
<h1>Hello {{ name }}!</h1>
```
                    </section>
                    <section>
                        <p>Twig tiene basicamente 2 tipos de tags</p>
                        <p class="fragment">en el ejemplo: Hello {{ name }}!</p>
                        <p class="fragment">{{ name }}</p>
                        <p class="fragment">es un tag para imprimir algo (el contenido de una variable "name" en este caso)</p>
                        <p class="fragment">esta variable "name" es pasada al template desde el controller</p>
                    </section>
                    <section data-markdown>
                        <p>{{ }} es como el "echo" de php</p>
```
echo $var;
```
                        =
```
{{ var }}
```
                    </section>
                    <section>
                        <p>El otro tipo de tag es {% %}</p>
                        <p class="fragment">es el "hacer algo"</p>
                        <p class="fragment">Ej: loops, definir variables, etc</p>
                        <p class="fragment">Ej: {% for i in 1..5 %}</p>
                    </section>
                    <section data-markdown>
                        <p>Ej:</p>
```
{% for i in 1..5 %}
    <h1>{{ i }} Hello {{ name }}!</h1>
{% endfor %}
```
                    </section>
                    <section>
                        <p>Twig es capaz de hacer muchas cosas</p>
                        <p class="fragment">Ver
                            <a href="http://twig.sensiolabs.org/documentation">http://twig.sensiolabs.org/documentation</a>
                            para ver una lista de Tags
                        </p>
                        <p class="fragment">Sabiendo esto basicamente ya podemos crear nuestros templates</p>
                        <p class="fragment">y pasar variables desde el controller</p>
                        <p class="fragment">Contenido dinamico</p>
                    </section>
                    <section data-markdown>
                        <p>Hay otro tipo de tag</p>
```
{# Un comentario! #}
{% for i in 1..5 %}
    <h1>{{ i }} Hello {{ name }}!</h1>
{% endfor %}
```
                    </section>
                    <section>
                        <p>Hay mucho mas Twig</p>
                        <p class="fragment">Filtros: {{ name|upper }}</p>
                        <p class="fragment">(como los pipes de la terminal)</p>
                        <p class="fragment">Ver
                            <a href="http://twig.sensiolabs.org/documentation">http://twig.sensiolabs.org/documentation</a>
                            para ver una lista de Filtros
                        </p>
                    </section>
                    <section>
                        <p>Nuestro template sigue siendo bastante basico</p>
                        <p class="fragment">Si vemos el codigo fuente vamos a ver que no se parece mucho a un html</p>
                        <p class="fragment">Podemos extender otros templates</p>
                        <p class="fragment">Ej: base.html.twig</p>
                    </section>
                    <section data-markdown>
                        <p>Veamos como hacer esto</p>
```
{% extends '::base.html.twig' %}

{% block body %}
    {% for i in 1..5 %}
        <h1>{{ i }} Hello {{ name }}!</h1>
    {% endfor %}
{% endblock %}
```

                        <p>Veamos el codigo fuente de la pagina ahora</p>
                    </section>
                    <section>
                        <p>"extends" indica que queremos usar un template como base y acoplar el contenido de nuestro template a ese otro</p>
                        <p>"block" indica donde queremos renderizar nuestro template</p>
                    </section>
                    <section>
                        <p>si miramos base.html.twig vamos a ver que hay varios bloques predefinidos</p>
                        <p>al usar "block body" estamos diciendo que en ese lugar queremos renderizar nuestro template</p>
                        <p>nuestro contenido va a ir ahi en ese lugar</p>
                        <p class="fragment">ver otros bloques en base.html.twig</p>
                    </section>
                    <section>
                        <p>podemos mostrar nuestro contenido en cualquiera de esos bloques</p>
                        <p class="fragment">podemos crear nuestros propios bloques</p>
                        <p class="fragment">con Twig podemos personalizar nuestros HTMLs</p>
                        <p class="fragment">y mostrar contenido generado dinamicamente en nuestras paginas</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Bonus Track!</h3>
                        <p class="fragment">La Toolbar de Symfony 2</p>
                        <p class="fragment">Web Debug Toolbar</p>
                        <p class="fragment">Nos dice que controller fue usado</p>
                        <p class="fragment">Tiempo de carga de la pagina, uso de memoria, seguridad, etc</p>
                        <p class="fragment">Se agrega automaticamente en cada html</p>
                    </section>
                    <section>
                        <p>Profiler</p>
                        <p class="fragment">Timeline</p>
                        <p class="fragment">Eventos Symfony en cada request</p>
                    </section>
                    <section>
                        <p>Mas?</p>
                        <p><a href="http://symfony.com">http://symfony.com</a></p>
                        <p><a href="http://twig.sensiolabs.org">http://twig.sensiolabs.org</a></p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Resumen</h3>
                    </section>
                    <section>
                        <h3>Que es Symfony?</h3>
                        <p>1. Conjunto de Componentes que podemos usar en cualquier aplicacion PHP</p>
                        <p>2. Un framework</p>
                        <p>3. Comunidad</p>
                        <p>4. Filosofia (para los mas fanaticos)</p>
                    </section>
                    <section>
                        <h3>Instalacion?</h3>
                        <p>1. Descargar de symfony.com/downloads</p>
                        <p>2. Seguir los pasos de la documentacion</p>
                    </section>
                    <section>
                        <h3>Crear un proyecto?</h3>
                        <p>1. symfony new mi-proyecto</p>
                        <p>2. Agregan un bundle app/console generate:bundle</p>
                        <p>(esto genera la Ruta y el Controlador)</p>
                    </section>
                    <section>
                        <h3>Personalizar la ruta</h3>
                        <p>1. en el archivo routing.yml</p>
                    </section>
                    <section>
                        <h3>Comenzar a Programar!</h3>
                        <p>1. empiecen en el Controlador</p>
                    </section>
                    <section>
                        <h3>Usar un diseño HTML</h3>
                        <p>1. Twig!</p>
                        <p>2. Templates en la carpeta Resources/views de cada Bundle</p>
                    </section>
                </section>

                <section>
                    <h3>Gracias!</h3>
                    <p>Preguntas?</p>
                    <br/>
                    <p>Twitter: <a href="http://twitter.com/vallejosfab">@vallejosfab</a></p>
                    <p>Blog: <a href="http://fabianvallejos.com">http://fabianvallejos.com</a></p>
                    <p>Slides: <br/><a href="https://github.com/vallejos/phpday-2015-symfony-presentation">https://github.com/vallejos/phpday-2015-symfony-presentation</a></p>
                    <p>Codigo Fuente: <br/><a href="https://github.com/vallejos/phpday-2015-symfony-demo">https://github.com/vallejos/phpday-2015-symfony-demo</a></p>
                </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
